version: 2.1
orbs:
  ruby: circleci/ruby@1.1.1

jobs:
  build:
    executor: ruby/default
    steps:
      - checkout
      - run: bundle install
      - ruby/rubocop-check
      - ruby/rspec-test
      - run:
          name: Upload test result to CodeCov
          command: bash <(curl -s https://codecov.io/bash)
